BODY {

background-color: rgb(255, 10, 235);
color: rgb(112, 47, 103);

margin: 0%;
font-family: "Bona Nova SC", serif;
margin-bottom: 100px;

}

header{
    border-bottom: solid 4px rgb(250, 250, 250); 
    padding: 20px;
    font-size: 32px;
    color:rgb(37, 32, 32);
}

.chamada {
    background: rgb(248, 126, 211);
    padding-bottom: 20px;
    padding-top: 28px;
    padding-right: 70px;
    
    display: flex;
    justify-content: center;
    
} 

.chamada-texto
 {margin-right: 100px;
    margin-left: 100px;

}

h1 {
    font-size: 30px;
}
p {
    font-size: 15px;
}

    
.categoria-videos {
    display: flex;
      overflow-x: auto;
      gap: 10px;
      
   }

.categoria {
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 50px;


}

.categoria-videos img {
    opacity: 0.5;
    height: 150px;
}

.categoria-videos img:hover{
    opacity: 2.0;
    border: 2px solid rgb(255, 255, 255);
}

.categoria h2 {
    color:rgb(13, 12, 17);
    font-family: monospace;

}